<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <handlers accessPolicy="Read, Execute, Script">
      <add name="FastAPI" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>

    <httpPlatform
      processPath="C:\inetpub\wwwroot\Balanca\.venv\Scripts\python.exe"
      arguments="-m uvicorn asgi:app --host 0.0.0.0 --port %HTTP_PLATFORM_PORT%"
      stdoutLogEnabled="true"
      stdoutLogFile="C:\inetpub\logs\LogFiles\Balanca\balanca-stdout.log"
      startupTimeLimit="120"
      requestTimeout="00:05:00" />

    <httpErrors errorMode="Detailed" />

  </system.webServer>
</configuration>
